<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.newloading.dao.CurriculumDao">
	<resultMap type="cn.com.newloading.bean.Curriculum" id="cuResultMap">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="INTRO" property="intro" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="TEACHER_ID" property="teacherId" />
	</resultMap>
	
    <select id="queryCurriculumForTeacher" resultMap="cuResultMap">
    	SELECT ID,NAME,INTRO,CREATE_TIME,TEACHER_ID FROM t_curriculum WHERE TEACHER_ID = #{tId}
    </select>
    
    <insert id="addCurriculum" keyProperty="id" parameterType="cn.com.newloading.bean.Curriculum">
    	INSERT INTO t_curriculum (NAME,INTRO,CREATE_TIME,TEACHER_ID) 
    	VALUES (#{name},#{intro},#{createTime},#{teacherId})
    </insert>
    
    <select id="queryCurriculumForStudent" resultMap="cuResultMap">
		SELECT ID,NAME,INTRO,CREATE_TIME,TEACHER_ID FROM t_curriculum WHERE
		ID &lt;&gt;(SELECT IFNULL(CU_ID,-1) cuId FROM t_cu_stu WHERE STU_ID = #{stuId})
    </select>
    
    <select id="queryCurriculumForS" resultMap="cuResultMap">
    	SELECT C.* FROM t_curriculum C LEFT JOIN t_cu_stu CS ON C.ID = CS.CU_ID WHERE CS.STU_ID = #{stuId}
    </select>
    
     <insert id="sureCurriculum" keyProperty="id" parameterType="cn.com.newloading.bean.CurriculumLinkStudent">
    	INSERT INTO t_cu_stu (CU_ID,STU_ID,TIME) 
    	VALUES (#{cuId},#{stuId},#{time})
    </insert>
</mapper>