<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.newloading.dao.DiscussDao">
	<resultMap type="cn.com.newloading.bean.Discuss" id="disResultMap">
		<result column="ID" property="id" />
		<result column="FOREIGN_ID" property="foreignId" />
		<result column="FOREIGN_TYPE" property="foreingType" />
		<result column="CONTENT" property="content" />
		<result column="CU_ID" property="cuId" />
		<result column="CREATE_TIME" property="createTime" />
	</resultMap>
	
    <insert id="addDiscuss" useGeneratedKeys="true" keyProperty="id" parameterType="cn.com.newloading.bean.Discuss">
    	INSERT INTO t_discuss_area (FOREIGN_ID,FOREIGN_TYPE,CONTENT,CU_ID,CREATE_TIME) 
    	VALUES (#{foreignId},#{foreingType},#{content},#{cuId},#{createTime})
    </insert>
    
    <select id="queryDiscussByCuId" resultMap="disResultMap">
    	SELECT ID,FOREIGN_ID,FOREIGN_TYPE,CONTENT,CU_ID,CREATE_TIME FROM t_discuss_area WHERE CU_ID = #{cuId}
    </select>
    
    <delete id="delDiscuss">
    	DELETE FROM t_discuss_area WHERE ID = #{disId}
    </delete>
</mapper>