<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.newloading.dao.StudentDao">
	<resultMap type="cn.com.newloading.bean.Student" id="stuResultMap">
		<result column="ID" property="id" />
		<result column="STU_PHONE" property="stuPhone" />
		<result column="STU_EMAIL" property="stuEmail" />
		<result column="STU_PASSWORD" property="stuPassword" />
		<result column="STU_STUDY_NUMBER" property="stuStudyNumber" />
	</resultMap>
	
    <insert id="addStu" keyProperty="id" parameterType="cn.com.newloading.bean.Student">
    	INSERT INTO t_students (STU_PHONE,STU_EMAIL,STU_PASSWORD,STU_STUDY_NUMBER) 
    	VALUES (#{stuPhone},#{stuEmail},#{stuPassword},#{stuStudyNumber})
    </insert>
</mapper>