<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.newloading.dao.TeacherDao">
	<resultMap type="cn.com.newloading.bean.Teacher" id="teaResultMap">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="T_PHONE" property="teaPhone" />
		<result column="T_EMAIL" property="teaEmail" />
		<result column="T_PASSWORD" property="teaPassword" />
		<result column="T_NUMBER" property="teaNumber" />
		<result column="ROLE" property="role" />
	</resultMap>
	
    <insert id="addTea" keyProperty="id" parameterType="cn.com.newloading.bean.Teacher">
    	INSERT INTO t_teacher (T_PHONE,T_EMAIL,T_PASSWORD,T_NUMBER,ROLE) 
    	VALUES (#{teaPhone},#{teaEmail},#{teaPassword},#{teaNumber},#{role})
    </insert>
    
    <select id="queryTea" parameterType="cn.com.newloading.bean.Teacher" resultMap="teaResultMap">
    	SELECT ID,NAME,T_PHONE,T_EMAIL,T_PASSWORD,T_NUMBER,ROLE
    	FROM t_teacher WHERE 1 = 1
    	<if test="teaNumber != null and teaNumber != ''"> AND T_NUMBER = #{teaNumber}</if>
    	<if test="teaPassword != null and teaPassword != ''"> AND T_PASSWORD = #{teaPassword}</if>
    	<if test="teaPhone != null and teaPhone != ''"> AND T_PHONE = #{teaPhone}</if>
    	<if test="teaEmail != null and teaEmail != ''"> AND T_EMAIL = #{teaEmail}</if>
    	ORDER BY ID DESC
    </select>
    
     <select id="queryTeacherById" resultMap="teaResultMap">
     	SELECT ID,NAME,T_PHONE,T_EMAIL,T_PASSWORD,T_NUMBER,ROLE FROM t_teacher WHERE ID = #{teaId}
     </select>
</mapper>